.preloader {
    display: none;

    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background-color: $brown_4;
    }

    &__logo {
        width: 182px;
    }

    &__svg {
        fill: $white_1;
    }
}