@font-face {
    font-family: 'MinionPro-Regular';
    src: url('../fonts/MinionPro-Regular/MinionPro-Regular.eot');
    src: url('../fonts/MinionPro-Regular/MinionPro-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MinionPro-Regular/MinionPro-Regular.ttf') format('truetype'),
         url('../fonts/MinionPro-Regular/MinionPro-Regular.woff') format('woff'),
         url('../fonts/MinionPro-Regular/MinionPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MinionPro-Semibold';
    src: url('../fonts/MinionPro-Semibold/MinionPro-Semibold.eot');
    src: url('../fonts/MinionPro-Semibold/MinionPro-Semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MinionPro-Semibold/MinionPro-Semibold.ttf') format('truetype'),
         url('../fonts/MinionPro-Semibold/MinionPro-Semibold.woff') format('woff'),
         url('../fonts/MinionPro-Semibold/MinionPro-Semibold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MinionPro-BoldCnIt';
    src: url('../fonts/MinionPro-BoldCnIt/MinionPro-BoldCnIt.eot');
    src: url('../fonts/MinionPro-BoldCnIt/MinionPro-BoldCnIt.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MinionPro-BoldCnIt/MinionPro-BoldCnIt.ttf') format('truetype'),
         url('../fonts/MinionPro-BoldCnIt/MinionPro-BoldCnIt.woff') format('woff'),
         url('../fonts/MinionPro-BoldCnIt/MinionPro-BoldCnIt.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MinionPro-Medium';
    src: url('../fonts/MinionPro-Medium/MinionPro-Medium.eot');
    src: url('../fonts/MinionPro-Medium/MinionPro-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MinionPro-Medium/MinionPro-Medium.ttf') format('truetype'),
         url('../fonts/MinionPro-Medium/MinionPro-Medium.woff') format('woff'),
         url('../fonts/MinionPro-Medium/MinionPro-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MinionPro-MediumIt';
    src: url('../fonts/MinionPro-MediumIt/MinionPro-MediumIt.eot');
    src: url('../fonts/MinionPro-MediumIt/MinionPro-MediumIt.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MinionPro-MediumIt/MinionPro-MediumIt.ttf') format('truetype'),
         url('../fonts/MinionPro-MediumIt/MinionPro-MediumIt.woff') format('woff'),
         url('../fonts/MinionPro-MediumIt/MinionPro-MediumIt.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fonts/Montserrat-Regular/Montserrat-Regular.eot');
    src: url('../fonts/Montserrat-Regular/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat-Regular/Montserrat-Regular.ttf') format('truetype'),
         url('../fonts/Montserrat-Regular/Montserrat-Regular.woff') format('woff'),
         url('../fonts/Montserrat-Regular/Montserrat-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('../fonts/Montserrat-SemiBold/Montserrat-SemiBold.eot');
    src: url('../fonts/Montserrat-SemiBold/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat-SemiBold/Montserrat-SemiBold.ttf') format('truetype'),
         url('../fonts/Montserrat-SemiBold/Montserrat-SemiBold.woff') format('woff'),
         url('../fonts/Montserrat-SemiBold/Montserrat-SemiBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

// @font-face {
//     font-family: 'Font_Name';
//     src: url('../fonts/Font_Name/Font_Name.eot');
//     src: url('../fonts/Font_Name/Font_Name.eot?#iefix') format('embedded-opentype'),
//          url('../fonts/Font_Name/Font_Name.ttf') format('truetype'),
//          url('../fonts/Font_Name/Font_Name.woff') format('woff'),
//          url('../fonts/Font_Name/Font_Name.woff2') format('woff2');
//     font-weight: normal;
//     font-style: normal;
// }