// SIZE
$base_font_size: 10px;
// WIDTH
$site_width: 1260px;
$main_padding: 0 15px;
// COLOR
$white_0: #fff;
$white_1: #FAF8F4;
$white_2: #F5F1E9;

$creamy_0: #EDDFC9;
$creamy_1: #DCD1B6;

$black_0: #000;

$brown_0: #382E2B;

$blue_0: #667A8D;