// SIZE
$base_font_size: 10px;
// WIDTH
$site_width: 1260px;
$main_padding: 0 15px;
// COLOR
$white_0: #fff;
$white_1: #FAF8F4;
$white_2: #F5F1E9;
$white_3: rgba(255, 255, 255, 0.5);

$creamy_0: #EDDFC9;
$creamy_1: #DCD1B6;

$black_0: #000;

$gray_0: #9E9E9E;

$brown_0: #382E2B;
$brown_1: #392F2C;
$brown_2: #292929;
$brown_3: rgba(56, 46, 43, 0.5);

$blue_0: #667A8D;