.error {

    &__inner {
        @include background(url("../img/error/bg.png"), 0, 100%, 37%);

        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        padding: $main_padding;
    }

    &__content {
        max-width: 400px;
    }

    &__title {
        @include font(130px, 130px, "MinionPro-Medium");

        margin-bottom: 30px;
        color: $brown_0;
        text-align: center;
    }

    &__subtitle {
        @include font(36px, 36px, "MinionPro-MediumIt");

        margin-bottom: 115px;
        color: $brown_0;
        text-align: center;
    }

    &__link {
        @include font(11px, 18px, "Montserrat-Semibold");

        display: block;
        width: 195px;
        margin: 0 auto;
        padding: 25px;
        border: 1px solid $brown_0;
        border-radius: 100px;
        color: $brown_0;
        text-align: center;
        text-transform: uppercase;
    }
}