.salt_room {

    &__slider {
        padding: $main_padding;
        background-color: $white_2;

        &_inner {
            @extend %center_block;

            position: relative;
            display: flex;
            justify-content: space-between;
            padding: 150px 0 200px 7.64%;
            z-index: 1;

            .slider {
                width: 50.8%;
                align-self: flex-end;

                &__photo--small {
                    margin-top: 40px;
                    transform: translateY(0);
                }
            }

            .slider__description {
                justify-content: flex-start;
                padding-top: 35px;
            }
        }

        &_arrows {
            position: absolute;
            left: 0;
            bottom: 0;

            .slider_arrow {
                border: 1px solid $brown_0;
                fill: $brown_0;
                transition: background-color 0.2s, fill 0.2s;

                &:hover {
                    background-color: $brown_0;
                    fill: $white_2;
                }
            }

            .slick-disabled {
                border: 1px solid $brown_3;
                pointer-events: none;
            }
        }
    }

    &__article {
        padding: $main_padding;
        background-color: $white_1;

        &_inner {
            @extend %center_block;

            position: relative;
            display: flex;
            justify-content: space-between;
            padding: 60px 0 150px;
        }

        &_photo {
            position: relative;
            height: 0;
            width: 40.87%;
            padding-bottom: 44.6%;
        }

        &_img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &_description {
            position: relative;
            display: flex;
            justify-content: space-between;
            flex-grow: 1;

            &_photos {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                width: 48.39%;
            }

            &_photo {

                &_1 {
                    position: relative;
                    top: -19%;
                    width: 59.75%;
                    padding-bottom: 71.21%;
                }

                &_2 {
                    position: relative;
                    width: 43.96%;
                    padding-bottom: 55.11%;
                    align-self: flex-end;
                }
            }

            &_img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &_title {
            @include font(36px, 47px, "MinionPro-Semibold");

            position: relative;
            width: 130%;
            margin: 10.67% 0 21.33% 26%;
            color: $brown_0;
            z-index: 1;
            text-transform: uppercase;
        }

        &_paragraph {

            &_text {
                @include font(12px, 20px, "Montserrat-Regular");

                width: 210px;
                margin: 0 auto;
                color: $gray_0;
            }
        }
    }

    &__services {
        padding: $main_padding;
        background-color: $white_1;

        &_inner {
            @extend %center_block;

            padding-bottom: 10.64%;
        }
    }
}

// 0 - 767
@include respond-to(mobile) {

    .salt_room {

        &__slider {
            padding: 0 30px;

            &_arrows {
                display: none;
            }

            &_inner {
                flex-direction: column;
                padding: 224px 0 30px;

                .slider {
                    width: 100%;

                    &__photo {

                        &--small {
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            margin-top: 0;
                        }
                    }

                    &__description {
                        padding-top: 80px;
                    }
                }
            }
        }

        &__article {
            padding: 0 30px;

            &_inner {
                flex-direction: column-reverse;
            }

            &_title {
                width: 100%;
                margin: 80px 0 50px;
                font-size: 2.4rem;
                line-height: 3.1rem;
            }

            &_description {
                flex-direction: column;

                &_photos {
                    width: 100%;
                }

                &_photo {

                    &_1 {
                        width: 51.11%;
                        padding-bottom: 68.25%;
                        margin: -30% auto 0;
                        z-index: 1;
                    }

                    &_2 {
                        display: none;
                    }
                }
            }

            &_paragraph {

                &_text {
                    width: 69.84%;
                    min-width: 220px;
                    margin: 0 auto;
                }
            }

            &_photo {
                width: 100%;
                padding-bottom: 153.97%;
            }
        }

        &__services {
            padding: 0 30px;

            &_inner {
                padding-bottom: 30px;
            }
        }
    }
}