.header {
    position: relative;
    width: 100%;
    padding: $main_padding;
    background-color: $white_1;
    z-index: 9;
    transition: background-color 0.5s, top 0.5s;

    &--fixed {
        position: fixed;
        top: 0;
        left: 0;
    }

    &--color {
        background-color: transparent;

        .nav__link {
            color: $white_0;
        }

        svg {
            fill: $white_0;
        }
    }

    &__inner {
        @extend %center_block;

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2.16% 0;
    }

    &__logo {

        &_link {
            max-width: 153px;
        }

        &_mobile_svg {
            display: none;
            fill: $brown_0;
            transition: fill 0.2s;
        }

        &_svg {
            fill: $brown_0;
            transition: fill 0.2s;
        }
    }

    &__social {

        &_list {
            font-size: 0;
        }

        &_item {
            display: inline-block;
            margin-right: 50px;

            &:last-child {
                margin-right: 0;
            }
        }

        &_link {
            width: 17px;
        }

        &_svg {
            fill: $brown_0;
            transition: fill 0.2s;
        }
    }

    &__menu_btn {
        display: none;
        width: 30px;
        height: 15px;

        &_svg {
            fill: $brown_0;
            transition: fill 0.2s;
        }
    }
}

// 0 - 767
@include respond-to(mobile) {

    .header {
        min-height: 80px;
        padding: 20px 30px;

        &__inner {
            padding: 0;
        }

        &__logo {

            &_mobile_svg {
                display: block;
            }

            &_svg {
                display: none;
            }
        }

        &__nav {
            display: none;
        }

        &__social {
            display: none;
        }

        &__menu_btn {
            display: block;
        }
    }
}