.header {
    position: sticky;
    top: 0;
    width: 100%;
    padding: $main_padding;
    background-color: $white_1;
    z-index: 9;
    transition: background-color 0.2s;

    &__inner {
        @extend %center_block;

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2.16% 0;
    }

    &__logo {

        &_link {
            max-width: 153px;
        }

        &_svg {
            fill: $brown_0;
            transition: fill 0.2s;
        }
    }

    &__social {

        &_list {
            font-size: 0;
        }

        &_item {
            display: inline-block;
            margin-right: 50px;

            &:last-child {
                margin-right: 0;
            }
        }

        &_link {
            width: 17px;
        }

        &_svg {
            fill: $brown_0;
            transition: fill 0.2s;
        }
    }
}