// <div class="home__slider_arrows">
//     <div class="slider_arrows">
//         <div class="slider_arrow slider_arrow--prev home__slider_arrow--prev">
//             <svg class="slider_arrow_svg" width="9" height="7" viewBox="0 0 9 7" xmlns="http://www.w3.org/2000/svg">
//                 <rect width="8" height="1" transform="matrix(-1 0 0 1 8.98535 3)" />
//                 <path d="M4.94971 0.00709438L4.94261 0H3.54259L-4.02927e-05 3.54263L3.45733 7H4.87154L1.41417 3.54263L4.94971 0.00709438Z" />
//             </svg>
//         </div>
//         <div class="slider_arrow slider_arrow--next home__slider_arrow--next">
//             <svg class="slider_arrow_svg" width="9" height="7" viewBox="0 0 9 7" xmlns="http://www.w3.org/2000/svg">
//                 <rect y="3" width="8" height="1" />
//                 <path d="M4.03564 0.00709456L4.04274 0H5.44276L8.98539 3.54263L5.52802 7H4.11381L7.57118 3.54263L4.03564 0.00709456Z" />
//             </svg>
//         </div>
//     </div>
// </div>

.slider {
    position: relative;

    &_arrows {
        display: flex;
        height: 40px;

        .slick-disabled {
            // border-color: rgba(255, 255, 255, 0.5);
            cursor: default;
        }
    }

    &_arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        // border:  1px solid $white_0;
        border-radius: 50%;
        cursor: pointer;
        pointer-events: all;

        &--prev {
            margin-right: 15px;
        }

        &_svg {
            width: 10px;
        }
    }
}