// <div class="card card--blue">
//     <p class="card__title">

//     </p>
//     <div class="card__flip">
//         <div class="card__flip_inner">
//             <div class="card__flip_front">
//                 <img src="" alt="" class="card__flip_img">
//             </div>
//             <div class="card__flip_back">
//                 <p class="card__flip_description">

//                 </p>
//                 <a href="#" class="card__flip_link">

//                 </a>
//             </div>
//         </div>
//     </div>
// </div>

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 530px;
    padding: 40px 0;

    &:hover {

        .card {

            &__flip {

                &_front {
                    opacity: 0;
                }

                &_back {
                    opacity: 1;
                }
            }
        }
    }

    &--blue {
        background-color: $blue_0;

        .card__title {
            color: $creamy_0;
        }

        .card__flip {

            &_front {
                background-color: $blue_0;
            }

            &_back {
                background-color: $blue_0;
                color: $white_2;
            }
        }
    }

    &--brown {
        background-color: $creamy_1;

        .card__title {
            color: $brown_0;
        }

        .card__flip {

            &_front {
                background-color: $creamy_1;
            }

            &_back {
                background-color: $creamy_1;
                color: $brown_0;
            }
        }
    }

    &__title {
        @include font(36px, 48px, "MinionPro-Regular");

        height: 96px;
        text-align: center;
        text-transform: uppercase;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__flip {
        width: calc(100% - 2px);
        background-color: transparent;
        perspective: 1000px;

        &_inner {
            position: relative;
            padding-bottom: 100%;
            text-align: center;
        }

        &_front  {
            position: absolute;
            width: 93.6%;
            height: 100%;
            opacity: 1;
            transition: opacity 0.4s;
        }

        &_img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &_back {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            opacity: 0;
            transition: opacity 0.4s;
        }

        &_description {
            @include font(12px, 20px, "Montserrat-Regular");

            width: 51.72%;
            color: $brown_0;
        }

        &_link {
            @include font(11px, 64px, "Montserrat-SemiBold");

            display: inline-block;
            width: 49.26%;
            padding: 0 20px;
            border: 1px solid $brown_0;
            border-radius: 100px;
            color: $brown_0;
            text-transform: uppercase;
        }
    }
}

// 0 - 1023
@include respond-to(tablet) {

    .card {
        min-height: unset;

        &__title {
            font-size: 3rem;
            line-height: 3.6rem;
            height: 72px;
        }
    }
}

// 0 - 767
@include respond-to(mobile) {

    .card {
        padding: 20px 0;

        &__title {
            font-size: 2.6rem;
            line-height: 3rem;
            height: 60px;
        }
    }
}