.home {

    &__banner {
        position: relative;
        overflow: hidden;

        &_fixed {
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            width: 100%;
            max-width: 1290px;
            height: 100%;
            z-index: 1;
            pointer-events: none;
        }

        &_social {
            display: none;
            position: absolute;
            top: 33%;
            left: 27px;
            pointer-events: all;

            &_list {
                display: flex;
                flex-direction: column;
            }

            &_item {
                margin-bottom: 57px;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            &_link {
                @include font(10px, 16px, "Montserrat-SemiBold");

                color: $white_0;
                writing-mode: vertical-lr;
                text-transform: uppercase;
            }
        }

        &_title {
            @include font(96px, 96px, "MinionPro-Medium");

            position: absolute;
            bottom: 12.1%;
            right: 15px;
            color: $white_0;

            &::before {
                content: "";
                position: absolute;
                top: 1.05em;
                left: 50%;
                transform: translateX(-50%);
                width: 1000%;
                border-bottom: 1px solid $white_0;
                opacity: 0.5;
            }

            &::after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                transform: translate(25%, -40%);
                width: 435px;
                height: 435px;
                border: 1px solid $white_0;
                border-radius: 50%;
            }
        }

        &_language {
            position: absolute;
            top: 33%;
            right: 15px;
            pointer-events: all;

            &_list {
                display: flex;
                flex-direction: column;
            }

            &_item {
                margin-bottom: 30px;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            &_link {
                @include font(11px, 18px, "Montserrat-SemiBold");

                color: $white_0;
                writing-mode: vertical-lr;
                text-transform: uppercase;

                &--active {
                    color: $blue_0;
                    cursor: default;
                }
            }
        }
    }

    &__slider {
        position: relative;

        &_item {
            width: 100%;
            height: 100vh;
        }

        &_photo {
            width: 100%;
            height: 100%;
        }

        &_img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &_description {
            position: absolute;
            top: 33%;
            left: 50%;
            height: 30%;
            width: 100%;
            max-width: 1290px;
            padding: $main_padding;
            transform: translateX(-50%);
            overflow: hidden;
            z-index: 1;
        }

        &_paragraph {
            @include font(12px, 20px, "Montserrat-Regular");

            width: 195px;
            margin-bottom: 45px;
            color: $white_2;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &_arrows {
            position: absolute;
            bottom: 30%;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            max-width: 1290px;
            padding: $main_padding;
            z-index: 1;
            pointer-events: none;
        }

        .slider_arrow {
            border:  1px solid $white_0;
            fill: $white_0;
            transition: background-color 0.2s, fill 0.2s;

            &:hover {
                background-color: $white_0;
                fill: $blue_0;
            }
        }

        .slick-disabled {
            border-color: $white_3;
            pointer-events: none;
        }
    }

    &__moments {
        padding: $main_padding;
        background-color: $white_2;

        &_inner {
            @extend %center_block;

            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding: 5.56% 0;
        }

        &_photo {
            position: relative;
            width: 40.87%;
            padding-bottom: 48.81%;
        }

        &_img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &_article {
            width: 50.8%;
        }

        &_title {
            @include font(36px, 42px, "MinionPro-Semibold");

            margin-bottom: 35px;
            color: $brown_0;
            text-transform: uppercase;

            &--italic {
                font-family: "MinionPro-BoldCnIt";
            }
        }

        &_description {
            display: flex;

            &_left {
                width: 50%;
            }
            
            &_right {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;
                width: 50%;
            }

            &_photo {
                position: relative;
                width: 67.19%;
                padding-bottom: 84.38%;

                &--translateY {
                    transform: translateY(65%);
                }
            }

            &_img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &_paragraph {
            @include font(12px, 20px, "Montserrat-Regular");

            width: 67.19%;
            margin-bottom: 45px;
            color: $gray_0;

            &:last-of-type {
                margin-bottom: 0;
            }

            &--mt {
                margin-top: 35px;
            }
        }
    }

    &__services {
        padding-left: 15px;
        
        &_inner {
            display: flex;
            width: 94.8%;
            padding: 20% 0 14.04%;
            margin-left: auto;
        }

        &_title {
            width: 20%;

            &_text {
                @include font(96px, 96px, "MinionPro-Regular");

                writing-mode: vertical-rl;
                transform: rotate(180deg);
                color: $creamy_0;
            }
        }

        &_slider {
            width: 80%;
            overflow: hidden;

            .slider_arrow {
                border:  1px solid $brown_2;
                fill: $brown_2;
                transition: background-color 0.2s, fill 0.2s;

                &:hover {
                    background-color: $brown_2;
                    fill: $white_1;
                }
            }
    
            .slick-disabled {
                border-color: $brown_3;
                pointer-events: none;
            }
        }

        &_list {
            margin: 0 -10px 5.7%;
        }

        &_item {
            margin: 0 10px;
        }

        &_link {
            @include font(11px, 18px, "Montserrat-SemiBold");

            display: none;
            width: 200px;
            margin: 0 auto;
            padding: 23px;
            border: 1px solid $brown_0;
            border-radius: 100px;
            color: $brown_0;
            text-align: center;
            text-transform: uppercase;
        }
    }

    &__beauty {
        padding: $main_padding;
        background-color: $white_2;

        &_inner {
            @extend %center_block;

            display: flex;
            justify-content: space-between;
            position: relative;
            padding-top: 2.48%;
        }

        &_left {
            width: 33.33%;
        }

        &_middle {
            width: 33.33%;

            .home__beauty_photo {

                &:first-child {
                    width: 96.67%;
                    padding-bottom: 131.67%;
                    margin-top: -16.67%;
                }

                &:nth-child(2) {
                    width: 46.19%;
                    padding-bottom: 57.14%;
                    transform: translate(-60%, -60%);
                }
            }
        }

        &_right {
            width: 33.33%;

            .home__beauty {
            
                &_photo {
                    width: 45.95%;
                    padding-bottom: 54.76%;
                    margin-left: auto;
                    margin-bottom: 90px;
                }

                &_img {

                    &:nth-child(2) {
                        display: none;
                    }
                }

                &_paragraph {
                    margin-left: auto;
                }
            }
        }

        &_title {
            @include font(36px, 46px, "MinionPro-Semibold");

            position: relative;
            margin-bottom: 35px;
            color: $brown_0;
            white-space: nowrap;
            text-transform: uppercase;
            z-index: 1;

            &--italic {
                font-family: "MinionPro-BoldCnIt";
            }

            &_line {
                display: block;
            }
        }

        &_paragraph {
            @include font(12px, 20px, "Montserrat-Regular");

            position: relative;
            max-width: 300px;
            color: $gray_0;
            z-index: 1;
        }

        &_photo {
            position: relative;
            width: 30.95%;
            padding-bottom: 37.3%;
        }

        &_img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__news {
        padding-right: 15px;
        
        &_inner {
            @include background(url("../img/svg/home/news/bg.svg"), 74%, 20%, 20%);

            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            width: 94.8%;
            padding: 17.2% 0 10.88%;
        }

        &_title {
            width: 20%;

            &_text {
                @include font(96px, 96px, "MinionPro-Regular");

                writing-mode: vertical-rl;
                margin-left: auto;
                color: $creamy_0;
            }
        }

        &_slider {
            width: 68.9%;
            overflow: hidden;

            &_arrows {
                margin-bottom: 5.37%;

                .slider_arrows {
                    justify-content: flex-end;
                }
            }

            .slider_arrow {
                border:  1px solid $brown_2;
                fill: $brown_2;
                transition: background-color 0.2s, fill 0.2s;

                &:hover {
                    background-color: $brown_2;
                    fill: $white_1;
                }
            }
    
            .slick-disabled {
                border-color: $brown_3;
                pointer-events: none;
            }
        }

        &_list {
            margin: 0 -10px 5.37%;
        }

        &_item {
            margin: 0 10px;
        }

        &_link {
            position: relative;
            display: block;
            padding-bottom: 100%;
        }

        &_img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &_description {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            padding-left: 9.68%;

            &_paragraph {
                @include font(12px, 20px, "Montserrat-Regular");

                width: 300px;
                color: $gray_0;
            }

            &_link {
                @include font(11px, 20px, "Montserrat-SemiBold");

                padding: 23px;
                width: 200px;
                text-align: center;
                border: 1px solid $brown_0;
                border-radius: 100px;
                color: $brown_0;
                text-transform: uppercase;
                transition:  color 0.2s, background-color 0.2s;

                &:hover {
                    background-color: $brown_0;
                    color: $white_1;
                }
            }
        }
    }
}

// 0 - 767
@include respond-to(mobile) {

    .home {

        &__banner {

            &_social {
                display: block;
            }

            &_title {
                right: 0;
                font-size: 5.4rem;
                line-height: 1;

                &::after {
                    width: 294px;
                    height: 294px;
                    right: -40px;
                }
            }

            &_language {
                display: none;
            }
        }

        &__slider {

            &_description {
                display: none;
            }

            &_arrows {
                display: none;
            }
        }

        &__moments {

            &_inner {
                position: relative;
                flex-direction: column-reverse;
                padding: 60px 0 40px;
            }

            &_photo {
                width: 85.22%;
                padding-bottom: 102.61%;
                margin-top: 80px;
                margin-left: auto;
                margin-right: -15px;
            }

            &_article {
                width: 100%;
            }

            &_title {
                font-size: 2.4rem;
                line-height: 3.1rem;
                text-align: center;
            }

            &_description {
                display: block;

                &_left {
                    width: 100%;

                    .home__moments_description_photo {
                        display: none;
                    }
                }

                &_right {
                    width: 100%;
                    margin-top: 20px;
                    
                    .home__moments_description_photo {
                        position: absolute;
                        right: 85.22%;
                        bottom: 40px;
                        width: 34.78%;
                        padding-bottom: 51.59%;
                        margin-bottom: 25%;
                        transform: translateX(70%);
                    }
                }

                &_photo {

                    &--translateY {
                        transform: translateY(0);
                    }
                }
            }

            &_paragraph {
                width: 100%;
                max-width: 220px;
                margin: 0 auto 20px;
            }
        }

        &__services {
            padding-left: 0;

            &_inner {
                display: block;
                width: 100%;
                padding: 60px 0;
            }

            &_title {
                width: 100%;
                margin-bottom: 50px;

                &_text {
                    font-size: 7.2rem;
                    line-height: 8rem;
                    text-align: center;
                    writing-mode: unset;
                    transform: rotate(0);
                }
            }

            &_slider {
                width: 100%;
                margin-bottom: 50px;

                &_arrows {
                    display: none;
                }
            }

            &_list {
                margin-bottom: 0;
            }

            &_link {
                display: block;
            }
        }
        
        &__beauty {
            padding: 0 30px;

            &_inner {
                flex-direction: column;
                padding: 37px 0;
            }

            &_left {
                width: 100%;
                margin-bottom: 80px;
            }

            &_middle {
                position: relative;
                width: 100%;
                margin-bottom: 80px;

                .home__beauty_photo {

                    &:first-child {
                        width: 84.13%;
                        padding-bottom: 119.37%;
                        margin-top: 0;
                        margin-left: auto;
                        transform: translateX(30px);
                    }

                    &:nth-child(2) {
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                        width: 61.59%;
                        padding-bottom: 78.1%;
                    }
                }
            }

            &_right {
                display: flex;
                flex-direction: column-reverse;
                width: 100%;

                .home__beauty {

                    &_photo {
                        width: 85.08%;
                        padding-bottom: 85.08%;
                    }

                    &_img {

                        &:nth-child(2) {
                            display: block;
                            width: 50%;
                            height: 50%;
                            bottom: 0;
                            top: unset;
                            transform: translate(-50%, 50%);
                        }
                    }

                    &_paragraph {
                        margin-bottom: 80px;
                    }
                }
            }

            &_title {
                font-size: 2.4rem;
                line-height: 3.1rem;
                margin-bottom: 50px;
                text-align: center;
                white-space: normal;
            }

            &_paragraph {
                width: 69.84%;
                min-width: 220px;
                margin: 0 auto;
            }
        }

        &__news {
            padding-right: 0;

            &_inner {
                flex-direction: column;
                width: 100%;
                padding: 50px 0;
                background-image: none;
            }

            &_title {
                width: 100%;
                margin-bottom: 52px;

                &_text {
                    font-size: 7.2rem;
                    line-height: 8rem;
                    writing-mode: unset;
                    text-align: center;
                }
            }

            &_slider {
                width: 100%;

                &_arrows {
                    display: none;
                }
            }

            &_list {
                margin-bottom: 50px;
            }

            &_item {
                margin: 0 15px;
            }

            &_description {
                flex-direction: column-reverse;
                align-items: center;
                padding-left: 0;

                &_paragraph {
                    width: 58.67%;
                    min-width: 220px;
                    margin: 0 auto;
                }

                &_link {
                    margin-bottom: 43px;
                }
            }
        }
    }
}