.contacts {

    &__form {
        position: relative;
        padding-left: 15px;
        background-color: $white_2;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 14.04%;
            background-color: $white_1;
        }

        &_inner {
            position: relative;
            display: flex;
            justify-content: space-between;
            width: 94.8%;
            padding: 8.15% 0 10.18%;
            margin-left: auto;
            z-index: 1;
        }

        &_title {

            &_text {
                @include font(96px, 96px, "MinionPro-Regular");

                writing-mode: vertical-rl;
                transform: rotate(180deg);
                color: $creamy_0;
            }
        }

        &_wrap {
            width: 100%;
            max-width: 400px;
        }

        &_photo {
            position: relative;
            align-self: flex-end;
            width: 37.04%;
            padding-bottom: 33.33%;
            height: 0;
        }

        &_img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;

            &:nth-child(2) {
                position: absolute;
                top: unset;
                left: 0;
                bottom: 0;
                transform: translate(-50%, 50%);
                width: 45%;
                height: 45%;
            }
        }
    }

    &__description {
        padding-right: 15px;

        &_inner {
            display: flex;
            justify-content: space-between;
            padding: 15.09% 0 12.63%;
        }
    }

    &__map {
        position: relative;
        width: 35.09%;
        padding-bottom: 33.33%;

        &_iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    &__address {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-right: 8.77%;

        &_list {
            display: flex;
            justify-content: flex-end;
        }

        &_item {
            margin-right: 13.33%;

            &:last-child {
                margin-right: 0;
            }
        }

        &_title {
            @include font(12px, 20px, "Montserrat-SemiBold");

            margin-bottom: 40px;
            color: $brown_0;
            text-transform: uppercase;
        }

        &_paragraph {
            @include font(12px, 20px, "Montserrat-Regular");

            color: $brown_0;
        }

        &_link {
            @include font(12px, 20px, "Montserrat-Regular");

            display: inline-block;
            color: $brown_0;

            &--phone {
                @include font(96px, 96px, "MinionPro-Regular");

                border-bottom: 1px solid $brown_0;
                white-space: nowrap;
            }
        }
    }
}

// 0 - 1024
@include respond-to(tablet) {

    .contacts {

        &__form {
            padding: 0 30px;

            &::after {
                display: none;
            }

            &_inner {
                width: 100%;
                flex-direction: column;
                padding: 30px 0 80px;
            }

            &_title {
                margin-bottom: 80px;

                &_text {
                    font-size: 7.2rem;
                    line-height: 8rem;
                    writing-mode: unset;
                    transform: rotate(0);
                    color: $brown_0;
                    text-align: center;
                }
            }

            &_wrap {
                margin: 0 auto 75px;
            }

            &_photo {
                width: 350px;
                padding-bottom: 315px;
                margin: 0 auto;
            }
        }

        &__description {
            padding: 0 30px;

            &_inner {
                flex-direction: column-reverse;
                padding: 30px 0 50px;
            }
        }

        &__map {
            width: 100%;
            padding-bottom: 300px;
        }
        
        &__address {
            flex-direction: column-reverse;
            padding-right: 0;
            margin-bottom: 35px;

            &_list {
                justify-content: center;
            }

            &_title {
                margin-bottom: 30px;
            }

            &_link {

                &--phone {
                    align-self: center;
                    margin-bottom: 50px;
                    font-size: 4.4rem;
                    line-height: 4.9rem;
                }
            }
        }
    }
}

// 0 - 767
@include respond-to(mobile) {

    .contacts {

        &__form {

            &_photo {
                width: 91.43%;
                padding-bottom: 67.3%;
                margin: 0 -30px 0 0;
            }
        }

        &__address {

            &_list {
                flex-wrap: wrap;
                justify-content: flex-start;
            }

            &_item {
                margin-right: 30px;
                margin-bottom: 15px;
            }
        }
    }
}