.services {
    @extend %center_block;

    padding: 5.21% 0 10.42%;

    &__list {
        display: grid;
        grid-template-columns: repeat(3, minmax(100px, 1fr));
        grid-gap: 20px;
    }
}