.about {

    &__slider {
        position: relative;
        padding: $main_padding;
        background-color: $white_2;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 20%;
            background-color: $white_1;
        }

        &_inner {
            @extend %center_block;

            position: relative;
            display: flex;
            justify-content: space-between;
            padding: 140px 0 200px;
            z-index: 1;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 19.05%;
                background-color: #FAF8F4;
            }

            .slider {
                width: 50.8%;
                align-self: flex-start;

                &__photo {

                    &--small {
                        top: 167px;
                        width: 46.8%;
                        padding-bottom: 35.88%;
                    }
                }

                &__description {
                    align-self: flex-start;

                    &_photo {
                        top: -65px;
                        margin-bottom: 0;
                    }
                }
            }
        }

        &_title {
            @include font(96px, 96px, "MinionPro-Regular");

            max-width: 15.08%;
            writing-mode: vertical-rl;
            transform: rotate(180deg);
            color: $creamy_0;
            text-align: right;
            overflow: hidden;
        }

        &_arrows {
            position: absolute;
            left: -30%;
            bottom: 0;

            .slider_arrow {
                border: 1px solid $brown_0;

                &_svg {
                    color: $brown_1;
                }
            }

            .slick-disabled {
                border: 1px solid $brown_3;
            }
        }
    }

    &__article {
        padding: $main_padding;
        background-color: $white_1;

        &_inner {
            @extend %center_block;

            position: relative;
            display: flex;
            justify-content: space-between;
            padding: 185px 0 150px;
        }

        &_slogan {
            @include font(36px, 47px, "MinionPro-Semibold");

            position: absolute;
            bottom: 17%;
            left: 50%;
            transform: translateX(-60%);
            color: $brown_0;
            z-index: 1;
            text-transform: uppercase;
        }

        &_photo {
            position: relative;
            height: 0;
            width: 40.87%;
            padding-bottom: 31.35%;
        }

        &_img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &_description {
            position: relative;
            display: flex;
            justify-content: space-between;
            width: 49.21%;

            &_photos {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-end;
                width: 48.39%;
            }

            &_photo {

                &_1 {
                    position: relative;
                    top: -55%;
                    width: 63.67%;
                    padding-bottom: 81%;
                }

                &_2 {
                    position: relative;
                    width: 64.67%;
                    padding-bottom: 59.33%;
                    align-self: flex-start;
                }
            }

            &_img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &_paragraph {
            @include font(12px, 20px, "Montserrat-Regular");

            width: 205px;
            color: $gray_0;
        }
    }
}