.nav {
    width: 100%;

    &__list {
        font-size: 0;
    }

    &__item {
        display: inline-block;
        margin-right: 55px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        @include font(13px, 13px, "Montserrat-SemiBold");

        color: $brown_0;
    }
}